{{ define "page" }}
{{ template "layout" . }}
{{ end }}

{{ define "title" }}
Edit {{ .Data.Name }}
{{ end }}

{{ define "content" }}
<h1>Edit User</h1>
{{ template "user-form-edit" . }}
{{ end }}

{{ define "submenu" }}
{{ template "menu" . }}
{{ end }}