{{ define "page" }}
{{ template "layout" . }}
{{ end }}

{{ define "title" }}
Roles for {{ .Data.User.Name }}
{{ end }}

{{ define "content" }}
<h1 class="text-2xl font-bold mb-4">Roles for {{ .Data.User.Name }}</h1>
<a href="/add-role-to-user?user_slug={{ .Data.User.Slug }}" class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded">Add Role to User</a>
<table class="min-w-full bg-white border border-gray-200">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b">Name</th>
            <th class="py-2 px-4 border-b">Description</th>
            <th class="py-2 px-4 border-b">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ $csrf := .Form.CSRF }}
        {{ range .Data.Roles }}
        <tr>
            <td class="py-2 px-4 border-b">{{ .Name }}</td>
            <td class="py-2 px-4 border-b">{{ .Description }}</td>
            <td class="py-2 px-4 border-b text-center">
                <form action="remove-role" method="POST" class="inline-block">
                    <input type="hidden" name="user_slug" value="{{ $.Data.User.Slug }}">
                    <input type="hidden" name="role_slug" value="{{ .Slug }}">
                    <input type="hidden" name="aquamarine.csrf.token" value="{{ $csrf }}">
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Remove</button>
                </form>
            </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="3" class="py-2 px-4 border-b text-center">No roles found.</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
