{{ define "page" }}
{{ template "layout" . }}
{{ end }}

{{ define "title" }}
New User
{{ end }}

{{ define "content" }}
<h1>New User</h1>
{{ template "user-form-new" . }}
{{ end }}

{{ define "submenu" }}
{{ template "menu" . }}
{{ end }}